body {
  font-family: 'Calibri', 'Myriad Pro', 'sans-serif';
  background-color: #3d3d3d;
  overflow-x: hidden;
}

a {
    color: #00b0ec;
}

.container{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.container-fluid {
    width: 100%;
}

.row {
    padding-bottom: 25px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar {
    background-color: #3d3d3d !important;
    background: #3d3d3d !important;
    color: white !important;
    border-bottom: none !important;
}

.navbar a {
    color: white !important;
    font-size: 16px;
}

#blue-background {
    height: 50%;
    max-height: 50%;
    position: absolute;
    width: 100%;
    background: rgba(0,177,236,1);
    background: -moz-linear-gradient(top, rgba(0,177,236,1) 0%, rgba(0,177,236,1) 39%, rgba(0,153,204,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,177,236,1)), color-stop(39%, rgba(0,177,236,1)), color-stop(100%, rgba(0,153,204,1)));
    background: -webkit-linear-gradient(top, rgba(0,177,236,1) 0%, rgba(0,177,236,1) 39%, rgba(0,153,204,1) 100%);
    background: -o-linear-gradient(top, rgba(0,177,236,1) 0%, rgba(0,177,236,1) 39%, rgba(0,153,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,177,236,1) 0%, rgba(0,177,236,1) 39%, rgba(0,153,204,1) 100%);
    background: linear-gradient(to bottom, rgba(0,177,236,1) 0%, rgba(0,177,236,1) 39%, rgba(0,153,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b1ec', endColorstr='#0099cc', GradientType=0 );
    top: 0px;
    left: 0px;
    z-index: -5;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: none;
    border-bottom: 3px #00b0ec solid;
    color: #00b0ec;
}

.nav-tabs {
    font-size: 16px;
}

.nav-tabs a {
    color: #888888;
}

.ts-logo {
    margin-top: -13px;
    margin-left: -10px;
}

#ts-status {
    background-color: white;
    height: calc(100vh - 375px);
    min-height: 360px;
    overflow-x: auto;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px #dddddd solid;
}

#ts-execute {
    background-color: white;
    height: 115px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 15px;
    border: 1px #dddddd solid;
}

#ts-grid {
    background-color: white;
    height: calc(100vh - 235px);
    min-height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    border: 1px #dddddd solid;
}

#manage-grid {
    background-color: white;
    height: calc(100vh - 235px);
    min-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px #dddddd solid;
}

.ts-grid-container,
.manage-grid-container {
    width: 100%; 
    height: calc(100vh - 325px); 
    min-height: 410px; 
    background-color: white; 
    overflow-y: auto; 
    overflow-x: auto;
}

.ts-status-container {
    width: 100%; 
    height: calc(100vh - 465px); 
    min-height: 270px; 
    background-color: white; 
    overflow-y: auto; 
    overflow-x: auto;
}

.ts-grid-container td:nth-child(1),
.ts-status-container td:nth-child(1),
.manage-grid-container td:nth-child(1),
.manage-grid-container td:nth-child(2),
.ce-jobs-container td:nth-child(1) {
    width: 50px;
}

.width-100 {
    min-width: 100%;
}

tr:nth-child(even) {
    background: #f2f2f2;
}
tr:nth-child(odd) {
    background: white;
}

.ts-grid th,td {
    padding: 10px;
    font-size: 14px;
}

.ts-status th,td {
    padding: 10px;
    font-size: 14px;
}

.divider-line {
    height: 1px; 
    width: 100%; 
    background-color: #dddddd; 
    margin-bottom: 25px;
}

.ce-jobs-container {
    width: 100%; 
    height: 20vh; 
    min-height: 100px; 
    border: 1px #dddddd solid;
    overflow-x: auto;
    overflow-y: auto;
    margin-top: -1px;
}

.status-container {
    width: 100%; 
    height: auto; 
    min-height: 100px; 
    overflow-x: auto;
    overflow-y: auto;
}

.ce-jobs-header {
    width: 100%; 
    border-bottom: 1px #dddddd solid; 
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 1px #dddddd solid;
}

.checkbox-style {
    position: absolute;
    margin-top: 12px !important;
}

p.ce-jobs-label {
    font-size: 14px; 
    color: #333333; 
    margin-left: 50px; 
    margin-right: 10px; 
    margin-top: 9px;
}

p.ce-jobs-delete {
    text-align: right;  
    color: #00b0ec; 
    font-size: 14px;
    margin-top: -30px;
}

.break-20 {
    height: 20px;
}

.break-25 {
    height: 25px;
}

.padding-0 {
    padding: 0;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.select-style {
    padding: 5px;
}

.select-style-100 {
    padding: 5px;
    width: 100%;
}

.input-45 {
    height: 30px;
    width: 50%;
}

.input-50 {
    height: 30px;
    width: 50%;
}

.input-75 {
    height: 30px;
    width: 75%;
}

.input-95 {
    height: 30px;
    width: 95%;
}

.input-100 {
    height: 30px;
    width: 100%;
}

.textarea-100 {
    height: 60px;
    width: 100%;
}

.header-text {
    color: #00b0ec;
    text-align: left;
    font-size: 16px;
    padding-top: 13px;
}

.header-row {
    border-bottom: 1px #dddddd solid; 
    margin: 0 auto; 
    padding: 0; 
    height: 50px; 
    top: 0px;
}

.icon {

}

.icon:hover {
    opacity: .8;
}

.refresh-icon {
    position: absolute;
    right: 35px;
    margin-top: -35px;
}

#export-icon {
    position: absolute;
    right: 62px;
    margin-top: -35px;
}

#trash-icon {
    position: absolute;
    right: 62px;
    margin-top: -35px;
}

.actions {
    padding-top: 30px;
}

.actions li {
    display: inline;
}

.edit-dates li {
    display: inline;
}

#ts-dropdown {
    float: right;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.ce-button {
    height: 30px;
    width: 100px;
    border: 1px white solid;
    text-align: center;
    color: white;
    font-size: 16px;
    float: right;
    background-color: transparent;
    margin-left: 10px;
    margin-bottom: 10px;
}

.ce-button:hover {
    background-color: white;
    color: #00b0ec;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#execute-button {
    background-color: #00b0ec;
    text-align: center;
    font-size: 16px;
    color: white;
    vertical-align: center;
    min-height: 30px;
    height: 85px;
    width: 100%;
    border: none;
}

#execute-button:hover {
    opacity: .8;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#add-button {
    height: 30px;
    width: 20%;
    border: 1px #00b0ec solid;
    text-align: center;
    color: #00b0ec;
    background-color: transparent;
    font-size: 16px;
    top: 1px;
    float: right;
}
#add-button:hover {
    background-color: #00b0ec;
    color: white;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#create-button,
#save-button {
    height: 30px;
    width: 100px;
    background-color: #00b0ec;
    text-align: center;
    color: white;
    font-size: 16px;
    border: none;
    margin-right: 10px;
}

#cancel-button {
    height: 30px;
    width: 100px;
    background-color: transparent;
    border: 1px #00b0ec solid;
    text-align: center;
    color: #00b0ec;
    font-size: 16px;
}

#create-button:hover,
#save-button:hover, 
#cancel-button:hover {
    opacity: .8;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

h1.ts-name {
    color: white;
    font-size: 21px;
    font-weight: 900;
}

p.ts-description {
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.modal-title {
    color: #00b0ec !important;
    font-size: 16px;
}
h4 {
    color: #00b0ec;
}
p.form-label {
    font-size: 13px;
    color: #888888;
}

.more {
    display: none;

}
a.showLink, a.hideLink {
    color: white;
}

@media screen and (max-width: 768px){
    #ts-execute {
        height: 163px;
    }

    #execute-button {
        height: 30px;
    }

    #ts-dropdown,
    .ce-button {
        float: none;
        margin: 0 auto;
        margin-right: 10px;
    }

    .ce-button {
        margin-top: 10px;
    }
}